@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body{
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
}





.header {
    /* width: max-content; */
    height: 3%;
    background-color: rgb(195, 177, 225);
    box-shadow: 4px 4px 4px 4px rgb(69, 69, 69);
    position: fixed;
    top: 3%;
    left: 45vw;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.countDown {
    margin: auto;
    width: 400px;
  }
  
  .path--background {
    fill: rgb(34, 213, 201);
    stroke: #fff;
    stroke-width: 0px;
  }
  
  .pulse {
    fill: rgb(255, 74, 74) !important;
  }
  
  .path--foreground {
    fill: #eee;
    stroke: #eee;
    stroke-width: 2px;
  }
  
  .label {
    font: 90px "Open Sans";
    font-weight: 900;
    text-anchor: middle;
    fill: rgb(34, 213, 201);
  }

.header li {
    list-style-type: none;

}
.header li a
    {  
    color: #452c63;
    text-decoration: none; 
    font-weight: 900; 
    font-size: 2rem;
    }  

 .header * 
 {  
 display: flex;
 flex-direction: row;  
 gap: 20px;
 align-items: center;
 justify-content: center;
        
}  

.startingImage{
    display: flex;
    position: fixed;
    top: 90px;
    border-radius: 50%;
}

.startingImage img{
    position: relative;
    border-radius: 47%;
    box-shadow: #452c63 4px 4px 4px 4px;
    animation: floatUpDown 2s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}

.startingImage button{
   
    border-radius: 10px;
    height: fit-content;
    position: relative;
    top: 26vh;
    left: 10vw;
    font-size: 50px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #cc91e0 0%, #bd8fe6 0%);
    background-size: 0% 100%; 
    background-repeat: no-repeat;
    transition: background-size 1s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.startingImage button a{
 text-decoration: none;   

}

.startingImage button:hover{
    background-size: 100% 100%;
    color: #452c63;
}
          /* Modal */
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(195, 177, 225 , 0.4);
        }

        /* Modal content */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 30%; 
            background-color: rgb(195, 177, 225);
            font-size: large ;
            box-shadow: #452c63 2px 3px 3px;
            border-radius: 8px;
        }

        /* Close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .modal-content p{
            color: #452c63;
            font-weight:bolder;
        }

#questionPanel {
display: flex;
flex-direction: column;
width: max-content;
position: absolute;
top: 20%;
left: 17%;
right: 20%;
padding: 2%;  
border-radius: 8px;
background-color: rgb(203, 195, 227 , 0.8);
font-size: larger;
height: 50vh;
width: 65vw;
box-shadow: 4px 2px 2px#452c63; 
border: 2px solid #452c63;
border-radius: 5px;
}
#questionPanel ul {
  list-style: none;
    
    }
    #questionPanel li {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 30px;
        cursor: pointer;
        padding: 10px;
        transition: transform 0.3s; 
          }
          #questionPanel li:hover {
            transform: scale(1.01); 
            box-shadow: 4px 2px 2px#452c63; 

              }  

              .styleQuestion {
                font-size: 22px;
                margin-bottom: 10px;
                font-weight: 800;
            }
            .optionItem {
                cursor: pointer;
            }
            .correctAnswer {
                background-color: #d2e7d6;            }
            .wrongAnswer {
                background-color: rgb(200, 97, 97 , 0.7);
            }
            .countdown {
                font-size: 24px;
                font-weight: bold;
                margin-top: 10px;
            }

            #nextButton {
                width: max-content;
                border-radius: 7px;
                padding: 1%;
            }
            #nextButton:hover{
                background-color: #bd8fe6;
                color: #452c63;
            }

            .replayButton{
                width: max-content;
                border-radius: 7px;
                padding: 1%;
            }
            .replayButton:hover{
                background-color: #bd8fe6;
                color: #452c63;
            }